# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ipch
*.pdb
*.sdf
*.opensdf
*.suo
*.pdb
*.exe
*.dll
*.user
*.aps
*.pch
*.obj
*.ncb
*.idb
*.tlb
*.tlh
*.log
*.tlog
*.lastbuildstate
*.exe.recipe

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additional files
*.csv
*.png

# File folder
[Bb]in
[Dd]ebug*/
[Rr]elease*/
